@model Mooshack_2.Models.ViewModels.StudentSubmissionViewModel

@{
    ViewBag.Title = "Submit Milestone";
}
<h2>@Model.MilestoneDescription</h2>

<div class="panel panel-default">
    <div class="panel-body">
    @using (Html.BeginForm("studentSubmitMilestone", "Assignment", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.MilestoneID)
            @Html.HiddenFor(model => model.StudentID)
            <div class="form-group">          
                <div class="col-md-10">
                    <input  htmlAttributes="{ class = form-control }" id="file" name="file" type="File" />
                </div>
            </div>
            <div>
                <div>
                    <input type="submit" value="Submit" class="btn btn-primary" style="color:white" />  
                </div>
            </div>
        </div>
    }
    </div>
</div>

<input type="button" value="Back" onclick="history.go(-1);" class="btn btn-primary" style="color:white">

