@model Mooshack_2.Models.ViewModels.ViewSubmissions

@{
    ViewBag.Title = "viewStudentSubmissions";
}

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Date Submitted
        </th>
        <th>
            Status
        </th>
        <th>
            Download
        </th>
    </tr>

    @foreach (var item in Model.Submissions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeSubmitted)
            </td>
            <td>
                @if (item.Accepted == true)
                {
                    @:Accepted
                }
                else
                {
                    @:False
                }
            </td>
            <td>
                @Html.ActionLink("Open", "openSubmission", new { currentPath = item.FilePath  })
                @Html.ActionLink("Download", "downloadSubmission", new { currentPath = item.FilePath })
            </td>

        </tr>
    }
</table>


<INPUT TYPE="button" VALUE="Back" onClick="history.go(-1);">