
@{
    ViewBag.Title = "AllCourses";
}

<ul class="nav" id="main-menu">
    <li>
        <a href="~/Account/showAllUsers"><i class="fa fa-dashboard fa-3x bigger"></i>Users</a>
    </li>
    <li>
        <a href="~/Account/CreateUser"><i class="fa fa-dashboard fa-3x"></i>Create User</a>
    </li>
    <li>
        <a href="~/Course/AdminCoursePage"><i class="fa fa-dashboard fa-3x"></i>Courses</a>
    </li>
</ul>
