@model List<Mooshack_2.Models.UserViewModel>
@{
    ViewBag.Title = "show All Users";
}

<h2>All users</h2>

<a href="~/Account/CreateUser"><button class="btn btn-primary btn-md moveButon">Create User</button> </a>

<div class="table-responsive">
   
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Delete user
            </th>
        </tr>
        @foreach(var user in Model)
        {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem =>user.UserName)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => user.Email)
              </td>

              <td>
                  @if (ViewBag._currentUser != user.Id)
                  {
                    @Html.ActionLink("Delete", "removeUser", new { userID = user.Id }, new { onclick = "return confirm('Are you sure you want to delete this User?')" })
                  }
                  
              </td>
              
          </tr>
        }
    </table>
</div>
 
