@model List<Mooshack_2.Models.UserViewModel>
@{
    ViewBag.Title = "showAllUsers";
}

<h2>All users        <a href="~/Account/CreateUser"><button class="btn btn-default btn-md moveButon">Add User</button> </a></h2>



<div class="table-responsive">
   
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
        </tr>
        @foreach(var user in Model)
        {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem =>user.UserName)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => user.Email)
              </td>

              <td>
                  @if (ViewBag._currentUser != user.Id)
                  {
                    @Html.ActionLink("Delete", "removeUser", new { userID = user.Id })
                  }
                  
              </td>
              
          </tr>
        }
    </table>
</div>
 
