
@{
    ViewBag.Title = "Stjórnandi";
}

<p> Þetta er forsíða Stjórnanda </p>

<head>
    <style>
        .button {
            position: relative;
            top: 150px;
            left: 50px;
            background-color: red;
            border: none;
            color: lightgrey;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }

</style>
</head>
<body>
      <button class="button">Bæta við áfanga</button>
      <button class="button">Bæta við notanda</button>
</body>