
@{
    ViewBag.Title = "Stjórnandi";
}

<p> Þetta er forsíða Stjórnanda </p>


<body>
    <button class="redButton">Bæta við áfanga</button>
    <a href="~/Account/CreateUser"><button class="redButton">Bæta við notanda</button> </a>
</body>