
@{
    ViewBag.Title = "Stjórnandi";
}

<p> Forsíða Stjórnanda </p>


<body>
    <a href="/Course/AdminCoursePage"><button class="redButton">Courses</button> </a>
    <a href="~/Account/CreateUser"><button class="redButton">Add User</button> </a>
</body>