@{
    ViewBag.Title = "Mooshak_too";
}

<div>






    @Html.ActionLink("Linkur inná Forsíðu Stjórnanda", "AdminFrontPage", "Home")
    @Html.ActionLink("Linkur inná Forsíðu Kennara", "TeacherFrontPage", "Home")
    @Html.ActionLink("Linkur inná Forsíðu Nemenda", "StudentFrontPage", "Home")
    @Html.ActionLink("Flehh", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</div>
