@model Mooshack_2.Models.ViewModels.StudentFrontPageViewModel
@{
    ViewBag.Title = "Nemandi";
}

<h3>
    Active Assignments
</h3>

<body

    <div class="panel panel-default">
        <div class="panel-body">
            <!--
            Verkefni í gangi
                -->
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            Course
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            EndDate
                        </th>
                    </tr>
                    @foreach (var _assignment in Model.Assignments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.EndDateTime)
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>
    <br>
</body>