@model Mooshack_2.Models.ViewModels.TeacherFrontPageViewModel
@{
    ViewBag.Title = "Kennari";
}

<h3>
    Active Assignments
</h3>

<body>

    <div class="panel panel-default">
        <div class="panel-body">
            <!--
            Verkefni í gangi
                -->
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            Course Name
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            StartDate
                        </th>
                        <th>
                            EndDate
                        </th>
                    </tr>
                    @foreach (var _assignment in Model.Assignments)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.Title )
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.StartDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => _assignment.EndDateTime)
                            </td>
                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
    <br>
   
</body>
