/*CSS Frontpage*/
html, body
{   
    height: 100vh;  
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

/*CSS Frontpage*/
.container
{
    margin-top: -20px;
    padding-top: 0px;    
    height: 100%;
    padding-left: 30px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

/*CSS Frontpage*/
.navbar-collapse.collapse {

    padding-right: 150px;
}

/*CSS Frontpage*/
.navbar-header
{
    padding-left: 100px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*CSS Frontpage*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*CSS Frontpage*/
input,
select,
textarea {
    max-width: 280px;
}

.links {
    display: block;
    text-align: center;
    width: 65%;
    height: 100%;
    margin-bottom: 10%;
}

.logo {
    background: url(~/content/images/mooshak2.png) no-repeat top left;
    display: block;
    width: 70px;
    height: 70px;
    text-indent: -9999px; /* hides the link text */
}

.navbar-collapse collapse sidebar-navbar-collapse
{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: green;
}

.sidebar-nav .navbar .navbar-collapse 
{
        padding: 0;
        max-height: none;
}

.sidebar-nav .navbar ul 
{
        float: none;
        display: block;
}

.sidebar-nav .navbar li 
{
        float: none;
        display: block;
}

.sidebar-nav .navbar li a 
{
            padding-top: 12px;
            padding-bottom: 12px;
}

/*CSS Buttons on Admin FrontPage*/
.redButton {
    position: relative;
    top: 150px;
    left: 50px;
    background-color: red;
    border: none;
    color: lightgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/*CSS Boxes on TeacherFrontPage and StudentFrontPage*/
.boxes {
    position: relative;
    left: 30px;
    top: 50px;
    width: 300px;
    height: 100px;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
}

/*Padding horizontal navbar*/
.horizontalNavBar
{
    padding-top: 20px;
    padding-bottom: 15px;
}

/*Padding Login Links*/
.paddingLogin
 {
    padding-top: 15px;
}

/*Color and Style of vertical navbar*/
.colorNavbarVertical
{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 100%;
    margin-left: -10%;
    padding-right: 5%;
    margin-right: 10%;
        border-right-style: solid;
    border-right-width: thin;
}

/*Position of main content*/
.paddingMainContent
{
    padding: 10%;
}

/*Style of Login page*/
.loginPage
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}


/*Centering Logo at Login Page*/
.centerLogo
{
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

/*Centering Button at Login Page*/
.centerButton
{
    margin: 0;
    position: relative;
    padding: 2% 10%;
}

.changeTextBox
{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height: 35px;
    width: 275px;
    padding-left: 15px;
 } 
